<div *ngIf="loading" class="loading">
  <div class="progress-bar">
    <div #progress class="progress bg-accent"></div>
  </div>

  <div class="step-wrap">
    <div class="step" #step></div>
  </div>
</div>

<div class="form">
  <mat-form-field>
    <input matInput placeholder="Nb of lines" [(ngModel)]="nbOfLines" [disabled]="loading">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Nb of columns" [(ngModel)]="nbOfColumns" [disabled]="loading">
  </mat-form-field>
  <button mat-button [disabled]="loading" (click)="generateData()">Start generating data</button>
</div>

<main>
  <table *ngIf="showTable">
    <tbody>
    <tr *ngFor="let line of data">
      <td *ngFor="let value of line">
        {{value}}
      </td>
    </tr>
    </tbody>
  </table>

  <div class="spinner" *ngIf="loading">
    <mat-spinner color='primary' [diameter]="50" [strokeWidth]="3"></mat-spinner>
  </div>
</main>
