<div *ngIf="loading" class="loading">
  <div class="progress-bar">
    <div #progress class="progress bg-accent"></div>
  </div>
</div>

<div class="form">
  <mat-form-field>
    <input matInput placeholder="Nb of lines" [(ngModel)]="nbOfLines" [disabled]="loading">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Nb of columns" [(ngModel)]="nbOfColumns" [disabled]="loading">
  </mat-form-field>
  <button mat-button [disabled]="loading" (click)="generateData()">Start generating data</button>
  <button mat-button [disabled]="loading" (click)="invertData()">Invert array</button>
</div>

<main>
  <div *ngIf="showTable">
    Current position: {{scrollPosition}}
    <button mat-button [disabled]="loading" (click)="randomizePosition()">Go to random position</button>
  </div>
  <table *ngIf="showTable" style="border-spacing: 0;">
    <tbody virtualizr [(topIndex)]="scrollPosition" style="display: block;height: 400px;overflow: auto;">
    <tr *virtFor="let line of data; itemSize: 32;" style="width: 100%;">
      <td *ngFor="let value of line" style="height: 30px;">
        {{value}}
      </td>
    </tr>
    </tbody>
  </table>

  <div class="spinner" *ngIf="loading">
    <mat-spinner color='primary' [diameter]="50" [strokeWidth]="3"></mat-spinner>
  </div>
</main>
