<div #form class="form">
  <mat-form-field>
    <input matInput placeholder="Nb of lines" [(ngModel)]="nbOfLines">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Nb of columns" [(ngModel)]="nbOfColumns">
  </mat-form-field>
  <button mat-button (click)="generateData()">Start generating data</button>
</div>

<div #loading class="loading" style="display: none;">
  <div class="progress-bar">
    <div #progress class="progress bg-primary"></div>
  </div>

  <div class="step-wrap">
    <div class="step" #step></div>
  </div>
</div>

<table *ngIf="showTable">
  <thead>
  <tr>
    <th *ngFor="let value of thead">
      {{value}}
    </th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let line of data">
    <td *ngFor="let value of line">
      {{value}}
    </td>
  </tr>
  </tbody>
</table>
